# Python-Standard
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtuelle Umgebungen
.venv/
env/

# Streamlit-Secrets
.streamlit/secrets.toml

# Datenbanken
data/database.db

# Log-Dateien
logs/*.log

# Modelle
models/*.pkl

# Berichte
reports/pdfs/

# Jupyter-Notebook-Checkpoints
.ipynb_checkpoints/

# Systemdateien
.DS_Store
Thumbs.db
